

RUN apt-get update && apt-get install -y --no-install-recommends \
  byacc \
  flex \
  && rm -rf /var/lib/apt/lists/*

RUN curl -sSLO http://mvapich.cse.ohio-state.edu/download/mvapich/mv2/mvapich2-{{ MVAPICH_VERSION }}{{ MVAPICH_PATCHLEVEL }}.tar.gz \
   && echo "{{ MVAPICH_SHA }}  mvapich2-{{ MVAPICH_VERSION }}{{ MVAPICH_PATCHLEVEL }}.tar.gz" | sha256sum -c - \
   && tar -xzf mvapich2-{{ MVAPICH_VERSION }}{{ MVAPICH_PATCHLEVEL }}.tar.gz -C /root \
   && cd /root/mvapich2-{{ MVAPICH_VERSION }}{{ MVAPICH_PATCHLEVEL }} \
   && ./configure --prefix=/usr --disable-fortran \
   && make install \
   && rm -rf /root/mvapich2-{{ MVAPICH_VERSION }}{{ MVAPICH_PATCHLEVEL }} \
   && rm /mvapich2-{{ MVAPICH_VERSION }}{{ MVAPICH_PATCHLEVEL }}.tar.gz

RUN curl -sSLO http://mvapich.cse.ohio-state.edu/download/mvapich/osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}.tar.gz \
   && echo "{{ OSU_MICROBENCHMARK_SHA }}  osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}.tar.gz" | sha256sum -c - \
   && tar -xzf osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}.tar.gz -C /root \
   && cd /root/osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }} \
   && ./configure --prefix=/opt/osu-micro-benchmarks CC=`which mpicc` CXX=`which mpicxx` \
   && cd mpi \
   && make install \
   && rm -rf /root/osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }} \
   && rm /osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}.tar.gz
