

RUN curl -sSLO https://www.open-mpi.org/software/ompi/v{{ OPENMPI_VERSION }}/downloads/openmpi-{{ OPENMPI_VERSION }}.{{ OPENMPI_PATCHLEVEL }}.tar.bz2 \
   && echo "{{ OPENMPI_SHA }}  openmpi-{{ OPENMPI_VERSION }}.{{ OPENMPI_PATCHLEVEL }}.tar.bz2" | sha256sum -c - \
   && tar -xjf openmpi-{{ OPENMPI_VERSION }}.{{ OPENMPI_PATCHLEVEL }}.tar.bz2 -C /root \
   && cd /root/openmpi-{{ OPENMPI_VERSION }}.{{ OPENMPI_PATCHLEVEL }} \
   && ./configure --prefix=/usr \
   && make all install \
   && rm -rf /root/openmpi-{{ OPENMPI_VERSION }}.{{ OPENMPI_PATCHLEVEL }} \
   && rm /openmpi-{{ OPENMPI_VERSION }}.{{ OPENMPI_PATCHLEVEL }}.tar.bz2

RUN curl -sSLO http://mvapich.cse.ohio-state.edu/download/mvapich/osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}.tar.gz \
   && echo "{{ OSU_MICROBENCHMARK_SHA }}  osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}.tar.gz" | sha256sum -c - \
   && tar -xzf osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}.tar.gz -C /root \
   && cd /root/osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }} \
   && ./configure --prefix=/opt/osu-micro-benchmarks CC=`which mpicc` CXX=`which mpicxx` \
   && cd mpi \
   && make install \
   && rm -rf /root/osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }} \
   && rm /osu-micro-benchmarks-{{ OSU_MICROBENCHMARK_VERSION }}.tar.gz
